*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    color: white;
    font-family: sans-serif;
}
.crud{
    width: 80%;
    margin:auto;
}
.head{
    text-transform: uppercase;
    text-align: center;
    margin:10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline:none;
    border:none;
    background: #111;
    margin:4px 0; 
    border-radius: 4px;
    padding: 4px;
    color: white;
}
input:focus{
    background: #000;
    transform :scale(1.1)
}
.price input{
    width:20%
}
#total{
    background-color: #950909;
    padding:5px 2px;
    border-radius:5px
}
#total::before{
    content:"total: "
}
button{
    width: 100%;
    height:30px;
    border:none;
    cursor: pointer;
    background-color: #530453;
    color: white;
    border-radius: 20px;
    transition: .5s;
}
button:hover{
    background-color: #5304539a;
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin:10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding:5px;
}
#deletAll{
    margin-top:10px;
    
}